# Node
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Env & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
*.key

# Build
dist/
build/
.cache/

# System
.DS_Store
Thumbs.db
